@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    box-sizing: border-box;
    text-align: center;
    font-family: Pretendard-Regular, serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    position: relative;
}
.hodu-top{
    background-color: rgba(242, 233, 216, 1);
    color: rgba(0, 0, 0, 1);
}
.hodu-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    gap: 684px;
}
.nav-inner {
    display: flex;
}
.nav-links{
    display: flex;
    list-style: none;
    line-height: 20px;
    gap: 30px;
    margin-right: 49px;
}
a{
    text-decoration: none;
    color: inherit;
}
.hodu-download {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(217, 118, 82, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: 0;
}
.explain-top {
    display: inline-block;
    text-align: left;
    margin: 200px 170px 262px 0;
}
.explain-top-large {
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    margin: 0 0 40px 0;
}
.explain-top-small {
    line-height: 20px;
    text-align: left;
    margin-bottom: 40px;
    padding-top: 6px;
}
.box-cat {
    vertical-align: bottom;
}
.lying-cat {
    margin: 80px 110px 0 0;
    vertical-align: bottom;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}
.explain-middle {
    display: inline-block;
    margin-top: 172px;
    vertical-align: top;
}
.explain-middle-large {
    margin: 0 0 30px 0;
    font-size: 36px;
    line-height: 45px;
    text-align: left;
}
.explain-middle-small {
    line-height: 20px;
    text-align: left;
}
.explain-middle2-large {
    margin: 120px 0 40px 0;
    font-size: 48px;
    line-height: 60px;
    color: rgba(217, 118, 82, 1);
}
.explain-middle2-small {
    margin-bottom: 16px;
    line-height: 20px;
}
.explain-middle2-small-inner {
    font-weight: 700;
    color: rgba(217, 118, 82, 1);
}
.ex-imgs {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 984px;
    overflow: auto;
}
.cat-img {
    border-radius: 30px;
    width: 378px;
    height: 378px;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
    margin: 72px 36px 0 36px;
}
.explore-txt {
    margin-top: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.explore-btn {
    width: 143px;
    margin-top: 4px;
    border: 0;
    border-radius: 40px;
    padding: 15px 29px;
    background-color: rgba(217, 118, 82, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 80px;
    cursor: pointer;
}
hr {
    width: 1278px;
    border: 0.5px solid rgba(196, 196, 196, 1);
    margin: 0 auto;
}
.location {
    display: inline-block;
    vertical-align: bottom;
}
.location-title {
    margin: 68px 0 20px 0;
    text-align: left;
    font-size: 36px;
    line-height: 45px;
}
.location-detail {
    margin-bottom: 48px;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    color: rgba(96, 99, 103, 1);
}
#map {
    width: 1278px;
    height: 520px;
    position:relative;
}
.map_wrap {position:relative;width:1278px;height:520px;}
.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;box-sizing: content-box;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;box-sizing: content-box}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;box-sizing: content-box;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}
.look-up-cat {
    vertical-align: bottom;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 340px;
    margin-top: 181px;
}
.scroll-btn {
    position: fixed;
    bottom: 19px;
    right: 24px;
    z-index: 2;
}
.scroll-btn-hover {
    position: fixed;
    bottom: 19px;
    right: 24px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.scroll-btn-hover:hover {
    opacity: 1;
}
.hodu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    gap: 784px;
}
.bottom-icons {
    display: flex;
    gap: 20px;
    list-style: none;
}
.subscribe {
    display: flex;
    width: 1280px;
    height: 200px;
    background-color: rgba(38, 49, 64, 1);
    border-radius: 30px;
    position: absolute;
    left: 50%;
    bottom: 400px;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: space-between;
    padding: 0 58px;
}
.subscribe-title {
    font-size: 36px;
    line-height: 45px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 18px 0;
    text-align: left;
}
.subscribe-detail {
    font-size: 14px;
    line-height: 18px;
    color: rgba(242, 233, 216, 1);
    text-align: left;
    margin: 0;
}
.enter-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    height: 60px;
    border-radius: 60px;
    padding: 0 6px 0 28px;
    background-color: rgba(255, 255, 255, 1);
}
.mail-tab {
    display: flex;
    gap: 8px;
}
.input-email {
    border: 0;
    padding: 0;
    width: 300px;
    text-align: left;
    font-weight: 400;
    line-height: 20px;
    color: rgba(118, 118, 118, 1);
}
.subscribe-btn {
    width: 135px;
    border-radius: 40px;
    padding: 15px 29px;
    background-color: rgba(217, 118, 82, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    border: 0;
}
.modal-invisible {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.modal-visible {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.modal-bg {
    position: relative;
    border-radius: 30px;
}
.modal-content {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.modal-heading {
    margin: 24px 0 12px 0;
    font-size: 36px;
    line-height: 45px;
    color: rgba(217, 118, 82, 1);
}
.modal-txt {
    font-size: 14px;
    line-height: 18px;
}
.modal-inner-btn {
    margin-top: 38px;
    border-radius: 40px;
    width: 183px;
    padding: 15px 29px;
    background-color: rgba(217, 118, 82, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    border: 0;
}